.container .nav {
  height: .44rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container .nav a {
  color: #666;
  text-decoration: none;
  font-weight: bold;
  height: 100%;
  line-height: .44rem;
  font-size: .16rem;
  padding: 0 .1rem;
  border-bottom: .02rem solid transparent;
}

.container .nav a.active {
  color: red;
  border-bottom: .02rem solid red;
}

.list {
  list-style: none;
}

.list li img {
  width: 0.64rem;
  height: 0.9rem;
}
